<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="sampleresourcegroup27" connectionString="DefaultEndpointsProtocol=https;AccountName=sampleresourcegroup27;AccountKey=SMSPuvbiCn+3bZsnUIoq+8hNwYjB40WXDvTFNlpPOUNQmsGJQTvgKHy+ynZNUNwuBrcgfwSattUY9h++kpxyow==;EndpointSuffix=core.windows.net"/>
    </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="c:\blobFile"/>
    <add key="destContainer" value="blobfile"/>
    <add key="destFolder" value="destFolder\"/>
  </appSettings>
</configuration>